
<app-PageTitle heading="About Us" subHeading="Creative team and wide goals."></app-PageTitle>
<div class="inner-container">
  <div class="about-page">
    <div class="about-info bg-white section-gap" *ngIf="aboutInfo">
      <app-AboutInfo [data]="aboutInfo"></app-AboutInfo>
    </div>
   
    <div class="about-contact-form bg-white">
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-stretch">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class=" about-contact-bg">
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-5">
          <div class="about-cobtact-form-inner">
            <div class="block-title ">
              <h2>Write to Us</h2>
            </div>
            <app-ContactForm>
            </app-ContactForm>
          </div>
        </div>
      </div>
    </div>
  </div>
