<aipoma-HomePageSlider></aipoma-HomePageSlider>

<div class="cta-v1 section-gap-home">
  <div class="container mb-4">
    <div fxLayout='row wrap' fxLayoutAlign="center center" class="text-center">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
        <h2 class="font-bold text-inverse mb-3" color="black">WHO WE ARE</h2>
        <p class="text-inverse mb-4">We are a boutique digital transformation consultancy and software development
          company that provides cutting edge engineering solutions, helping Fortune 500 companies and enterprise clients
          untangle complex issues that always emerge during their digital evolution journey. Since 2007 we have been a
          visionary and a reliable software engineering partner for world-class brands.</p>
      </div>
    </div>
  </div>


  <div class="shop-card-wrapper grid-card-wrapper tab-sldier-v2">
    <mat-toolbar class="mat-toolbar-home">
      <mat-toolbar-row>
        <div class="container pt-4">
          <div class="block-title-home">
            <h2 class="font-bold">WHAT WE OFFER</h2>
          </div>
          <div class="mat-tab-toolbar">
            <mat-tab-group [(selectedIndex)]="aipomaService.newArrivalSelectedTab">
              <mat-tab label="SERVICES"></mat-tab>
              <mat-tab label="TECHNOLOGIES"></mat-tab>
              <mat-tab label="INDUSTRIES"></mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>
</div>