.block-title-home
{
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.mat-toolbar-home {
    height:280px;
    background: rgba(20,30,51,0.1);
}

.text-inverse {
    color: #000;
    text-align: left;
}

.text-inverse-home
{
    padding-top : -5rem;
}

p{
    font-size: 18px;
}

h2{
    font-size: 28px;
}
.section-gap-home {
    padding-top:  4rem;
    padding-bottom: 4rem;
}



