<mat-toolbar color="primary" class="header-v1">
  <mat-toolbar-row class="header-v1-top">
    <div class="container">
      <div fxLayout="row wrap" fxLayout="center center">

        <div fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxFlex.md="33%" fxFlex.lg="33%" fxFlex.xl="33%">
          <div class="list-flex mt-4">
            <app-LanguageDropDown></app-LanguageDropDown>
          </div>
        </div>

        <div class="logo-site" fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
          <app-AppLogo></app-AppLogo>
        </div>
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
          <span fxFlex></span>
          <div class="list-flex user-tool">
            <app-HeaderUserProfileDropdown *ngIf="currentUser"></app-HeaderUserProfileDropdown>

            <button *ngIf="!currentUser" mat-stroked-button class="log-in-button" [routerLink]="['/session/signin']">
              <i class="material-icons mr-2">account_circle</i>
              Login
            </button>

          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="currentUser" class="header-v1-bottom main-menu-wrap">
    <div class="container">
      <div class="header-v1-bottom-inner">
        <app-Menu></app-Menu>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="currentUser" class="responsive-bar relative">
    <div class="container">
      <div fxLayoutAlign="space-between">
        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<app-FixedHeader></app-FixedHeader>