.sign-in-image {
  
  background-size: cover;
  background-color: #2261ba;
  object-fit: cover;
  background-image: url("/assets/images/login-img.jpg");

  width: 720px !important; /*510px !important; */
  height: 600px !important; /*510px !important; */

  display: block;
  margin-left: auto;
  margin-right: auto;

}

.register-image {
  background-image: url("/assets/images/register.jpg");
  background-size: cover;
  padding: 18rem 0;
}

.thank-you-image {
  background-image: url("../.../../../assets/images/thank-you.jpg");
  background-size: cover;
  padding: 10rem 0;
  background-position: center center;
  border-radius: 5px;
}

.forgot-password-image {
  background-image: url("/assets/images/forgot-password.jpg");
  background-size: cover;
  padding: 18rem 0;
}

@media(min-width:960px) {
  .thank-you-card {
    margin-top: -60px;
  }

  .form-margin {
    margin-left: -0px;
    height: 100%;
    display: block;
    //background: white;
  }
}

@media(max-width:959px) {
  .form-img {
    display: none;
  }
}
