<mat-toolbar color="primary" class="app-fixed-header">
  <mat-toolbar-row>
    <div class="container">
      <div fxLayoutAlign="space-between center">
        <div class="logo-site">
          <app-LogoFixed></app-LogoFixed>
        </div>

        <button *ngIf="!currentUser" mat-stroked-button class="log-in-button" [routerLink]="['/session/signin']">
          <i class="material-icons mr-2">account_circle</i>
          Login
        </button>

        <app-Menu *ngIf="currentUser"></app-Menu>
        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
