<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="First Name" required formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="Last Name" required formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" required formControlName="email">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter Password" required formControlName="password">
    </mat-form-field>

  </div>
  <div class="mb-4">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Retype Password</mat-label>
      <input matInput type="password" placeholder="Retype Password" required formControlName="confirmPassword">
    </mat-form-field>
  </div>
  
  <button mat-raised-button [disabled]="loading" color="primary" class="w-100 mb-3" type="submit">
    Submit
    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </button>
  
  <div> Already have account? then <a class="primary-color" [routerLink]="['/session/signin']">Sign In</a></div>
</form>