.home-title-bar {
    min-height: 600px;
    text-align: center;
    justify-content: center;
}

.home-img-wrapper {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    overflow: hidden;
  }
