<div class="app-popup">
   <div class="app-popup-content text-center">
      <div class="mb-4 ml-4 mr-4 mt-4">
         <h4>{{message}}</h4>
      </div>
      <button mat-raised-button color="primary" class="mr-3" (click)="dialogRef.close()">OK</button>
      <!--
      <button mat-raised-button color="primary" class="mr-3" (click)="dialogRef.close('yes')">Yes</button>
      <button mat-raised-button color="primary" class="mr-3" (click)="dialogRef.close()">No</button>
      -->
   </div>
</div>